<%- include('partials/headers.ejs', { title: 'Book List' }) %>

<body>
   <h1 style="text-align: center;">View Our Awesome Collection</h1>
   <a href="/books/chart">View Trending Books This Month</a><br>
   <a href='/books/add'>Add Book</a><br>
   <a href='/books/pinjam'>Borrow a Book</a>
   <table>  
      <tr>
         <th>#</th>
         <th>Title</th>
         <th>Author</th>
         <th>Stock</th>
         <th>Cover</th>
         <th colspan="2">Action</th>
      </tr>

      <% books.forEach((book, index) => { %>
      <tr>
         <td><%= index + 1 %></td>
         <td><%= book.title %></td>
         <td><%= book.author %></td>
         <td><% if (book.stock === 0 || !book.stock) { %> This books is currently loaned out. <% } else { %> <%= book.stock %> <% } %> </td>
         <td><a href="<%= book.cover %>"><img class="thumbnail" src='<%= book.cover %>'></a></td>
         <td><a href='/books/edit/<%= book.id %>'>Edit</a></td>
         <td><a href='/books/delete/<%= book.id %>'>Delete</a></td>
      </tr>
      <% }) %>

   </table>
</body>

<%- include('partials/footer.ejs') %>