<%- include('partials/headers.ejs', { title: 'Pinjam Buku' }) %>

<body>
    <h1>Form pinjam Buku</h1>

    <table border=1px>
        <form action='/books/pinjam' method='POST'>
            <tr>
                <td>Peminjam</td><td>:</td>
                <td>
                    <select name='UserId'>
                        <% users.forEach((user) => { %>
                            <option value='<%= user.id %>'><%= user.username %></option>
                        <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Buku</td><td>:</td>
                <td>
                    <select name='BookId'>
                        <% books.forEach((book) => { %>
                            <option value='<%= book.id %>'><%= book.title %></option>
                        <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type='submit' value='pinjam'>
                </td>
            </tr>
        </form>
    </table>
</body>

<%- include('partials/footer.ejs') %>